<!DOCTYPE html>
{% load static %}
<html>
<title>Prywatna Tablica</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="{% static 'scripts.js' %}"></script>
<style>

</style>
</head>
<body>
<div class="w3-container w3-cell w3-bar-block" style="width:7%; background: linear-gradient(135deg, #334155 0%, #1e293b 50%, #334155 100%); opacity: 0.7;">
  <h3 style="font-family: 'Segoe UI', -apple-system, sans-serif;font-size: 10;font-weight: 800;color: #F1F5F9;text-shadow: 0 4px 20px rgba(0,0,0,0.5);letter-spacing: -0.02em;">WallStash</h3>
  <h3><a href="{% url 'logout' %}" class="nav-link">
      <img src="{% static 'res/user.png' %}" width="50" height="50" style="margin-left:25px; opacity: 0.7;"></h3><br></a>
  <a href="{% url 'get_memories' %}" class="w3-bar-item w3-button" style="margin-right:20px; color: #F1F5F9;">All notes</a><br>
  {% for type, type_image in types %}
    <a href="{% url 'get_memories_types' type=type %}" class="w3-bar-item w3-button"><img class="w3-circle" src="{{ type_image }}" width="30" height="30" style="margin-left:10px"></a><br>
  {% endfor %}
</div>
<div class="w3-container w3-cell" style="width:90%;">
  <br>
  <div class="w3-card-4 w3-round" style="width:80%; margin-bottom:45px; margin-left:150px;">
      <form action = "{% url 'new_entry' %}" method = "POST">
        {% csrf_token %}
        {{ form.content.errors }}
         <input class="w3-input w3-border" id="content" type="text" name="content" style="width:100%"  placeholder="Did you find anything interesting? Put it here...">
      </form>
  </div>

  <div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">« Poprzednia</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <strong>{{ num }}</strong>
        {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Następna »</a>
    {% endif %}

    <span>Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}</span>
  </div>
  <br>
  {% for memory in page_obj %}

  <div class="w3-card-4 w3-round" style="width:93%; margin-bottom:45px; margin-left:50px">
    <header class="w3-container w3-light-grey">
      <img src="{{ memory.get_category_image }}" class="w3-left w3-circle"  width="30" height="30" style="margin-right:10px">
      <h3>{{ memory.title }}</h3>
      <div class="w3-right" >
        <img src="{% static 'res/copy.png' %}" onclick="copyToClipboard('{{ memory.get_clean_content }}')" class="w3-left" width="30" height="30" style="margin-right:15px">
        <div class="dropdown w3-circle" >
          <span>...</span>
          <div class="dropdown-content">
            <p><a href="{% url 'delete_entry' id=memory.id %}" class="w3-button">Usuń</a></p>
            <p><a href="{% url 'move_entry_to_archive' id=memory.id %}" class="w3-bar-item w3-button">Archiwizuj</a></p>
          </div>
      </div>
      </div><br><font color="#COCOCO" size="1px">{{ memory.get_date_string }}</font>
    </header>
    <div class="w3-container" style="margin-bottom:20px">
      <form action = "{% url 'update_entry' id=memory.id %}" method = "POST">
        {% csrf_token %}
        {{ form.content.errors }}
        <p contenteditable="true" id="content" name="content" >{{ memory.get_clean_content }}</p>
      </form>
      <hr>
      {% for embed_src in memory.get_embeds %}
        <iframe width="560" height="315" src="{{ embed_src }}" frameborder="0"  title="Embed" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      {% endfor %}

    </div>
    <header class="w3-container w3-light-grey" style="margin-bottom:20px">
      {% for tag in memory.get_tags %}
        <a href="{% url 'get_memories_tagged' tag=tag %}">{{ tag }}</a>
      {% endfor %}
    </header>
    <button class="w3-button w3-block w3-dark-grey w3-round" onclick="copyToClipboard('{{ memory.get_clean_content }}')">Udostępnij</button>
  </div>

  {% endfor %}

</div>

<div class="w3-container w3-cell" style="border-left: 2px solid #ccc;">
    <div style="font-size: 12px; padding: 2px 7px;">Tags</div>
    <a href="{% url 'get_memories' %}" style="font-size: 10px; border: 1px solid #282828; border-radius: 5px; padding: 2px 7px; letter-spacing: 0.04em; cursor: pointer;">#All</a><br>
    {% for tag in tags %}
      <a href="{% url 'get_memories_tagged' tag=tag %}" style="font-size: 10px; border: 1px solid #282828; border-radius: 5px; padding: 2px 7px; letter-spacing: 0.04em; cursor: pointer;">{{ tag }}</a><br>
    {% endfor %}
  <h3>Calendar</h3>
  <p>Date: <input type="text" id="datepicker"> <a href="{% url 'get_memories' %}">[X]</a></p>
</div>

</body>
</html>
